 {% extends 'base.html' %}
     
     
    {% block title %} The Front End {% endblock %}
     
    {% block content %}
        <h4> 
            "Everyone's Blog"

       </h4>
       <h2>
       	<a href="post/form_upload.html">Add Post</a>
       </h2>
        {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{post.slug}}">
                    {{post.title}}
                </a>
            </h2>
            <p>{{post.description}}</p>
            <p>
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
        </div>
        {% endfor %}
    {% endblock %}
